#numberOne {
  width: 40px;
  height: 40px;
  background-color: green;
  color: white;
}

#numberTwo {
  width: 40px;
  height: 40px;
  background-color: green;
  color: white;
}

#addnumbers {
  background-color: green;
  color: white;

}

#addnumbers:hover {
  background-color: black;
}

#subtractnumbers {
  background-color: red;
  color: white;
}

#subtractnumbers:hover {
  background-color: black;
}

#dividenumbers {
  background-color: brown;
  color: white;

}

#dividenumbers:hover {
  background-color: black;
}

#multiplynumbers {
  background-color: deeppink;
  color: white;
}

#multiplynumbers:hover {
  background-color: black;
}

#answer {
  width: 40px;
  height: 40px;
  background-color: lightgrey;
}
